.navbar {
  border-bottom: solid 1px;
  padding-bottom: 1rem;
}

.head-nav-button {
  color: #fffeee;
  text-decoration: none;
}

.nav-button-black {
  color: #000;
  text-decoration: none;
}

.nav-button-white {
  color: #fffeee;
  text-decoration: none;
}